nav ul {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    background-color: #4a0e0e;
    
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}


body {
    background-color: #f5f0e6;
    margin: 0;
    padding: 0;
    font-family: 'Fondamento', cursive;
}


.maroon-rectangle {
    background-color: #4a0e0e;
    padding: 25px;
    width: 700px;
    margin: 40px auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.rectangle-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.rectangle-text {
    flex: 1;
    font-size: 18px;
}


.rectangle-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
}


.rectangle-img {
    width: 80%;
    height: 330px;
    border-radius: 8px;
    object-fit: cover;
}


@media (max-width: 700px) {
    .rectangle-flex {
        flex-direction: column;
        text-align: center;
    }
    .rectangle-img {
        width: 60%;
        height: 300px;
    }
}


.maroon-circle {
    width: 200px;
    height: 200px;
    background-color: #4a0e0e;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    display: flex;
   
}

.circle-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.about-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    font: size 22px; ;
}

.about-text {
    flex: 1;
    color: white;
    font-size: 22px;
}

.about-img-container {
    flex: 0 0 auto;
}

.about-img {
    width: 350px;
    max-width: 100%;
    border-radius: 8px;
}


@media (max-width: 600px) {
    .about-flex {
        flex-direction: column;
        text-align: center;
    }
    .about-img {
        width: 120px;
    }
}


.contact-flex {
    display: flex;
    align-items: center;
    gap: 40px;
}



.contact-icon {
    width: 60px;
    height: auto;
}

.contact-text {
    color: white;
    font-size: 18px;
}

.contact-text a {
    color: #f5f0e6;
    text-decoration: underline;
}


@media (max-width: 600px) {
    .contact-flex {
        flex-direction: column;
        text-align: center;
    }
    .contact-icons {
        flex-direction: row;
        gap: 20px;
    }
    .contact-icon {
        width: 45px;
    }
}

.skills-rectangle1,
.contact-rectangle,
.about-rectangle {
    width: 250px;              
    height: 60px;
    background-color: #4a0e0e;
    border-radius: 8px;
    display: flex;             
    justify-content: center;
    align-items: center;
    margin: 20px auto;         
    color: #f5f0e6;            
    font-size: 22px;
    font-weight: bold;
}

p {
    font-size: 22px;
    text-align: center;
}

h2, h1 {
    text-align: center;
    font-size: 22px;
}

.about-rectangle {
    font-size: 22px
}

h1 {
font-size: 30 px;

}

.rectangle-img {
    width: 230px;        
    height: 360px;       
    border-radius: 8px;
    object-fit: cover;  
}

h3 {
    text-align: left;
    padding-left: 20px; 
