nav ul {
display: flex;
justify-content: space-around;
padding: 15px 0;
background-color: #4a0e0e;
}
.maroon-rectangle {
    width: 700px;          
    height: 300px;
    background-color: #4a0e0e; 
    border-radius: 2px;    
}

body {
    background-color: #f5f0e6; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.flex-maroon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a0e0e; 
    width: 250px;
    height: 150px;
    border-radius: 10px;
    color: #f5f0e6; 
}

.maroon-rectangle {
    width: 700px;
    height: 300px;
    background-color: #4a0e0e;
    border-radius: 2px;
    display: flex;
    justify-content: center;  
    align-items: center;     
}

.rectangle-img {
    width: 170px;   
    height: auto;
    border-radius: 5px;
}

.maroon-circle {
    width: 200px;       
    height: 200px;
    background-color: #4a0e0e;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 0;            
}










}



